@import "../../../sass/abstracts/variables";

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-width: 95vw;
    min-height: 100vh;

    margin: 0 auto;
    padding: 0 1.5rem 1.5rem 1.5rem;

    color: var(--zn-color-grey-dark-rgb-4);
    background: url("../../../assets/img/fondo-azul.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__configuration {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
    }

    &__heading {
        display: flex;
        justify-content: center;
        &-img {
            position: relative;
            top: .5rem;            
            width: 53%;
        }
    }

    &__box {
        position: relative; 
        top: 1rem;
        border: var(--azn-border-1);
        box-shadow: var(--azn-shadow-style-2);
        background-color: white;

        &-header {
            background: var(--azn-gradient-3);
            text-align: center;
            color: var(--azn-font-color-m);
            font-weight: bolder;
            padding: 0.6rem;
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
        }

        &-form {
            padding: 0.4rem;

            &-row {
                display: flex;
            }

            &-row:not(:first-child) {
                margin-top: 0.4rem;
            }

            &-icon {
                margin-right: 0.2rem;
                transform: translateY(0.6rem);
                color: var(--ion-color-secondary);
                font-weight: bold;
            }
        }

        &-field {
            flex: 1;
        }

        &-lbl {
            display: inline-block;
            transform: translate(0.52rem, 0.1rem);
            opacity: 1;
            font-size: 0.9rem;

            transition: all 0.32s ease-out;
            pointer-events: none;
        }

        &-input {
            display: block;
            height: 2.8rem;
            padding: 0.2rem 0.4rem;
            border: var(--azn-border-1);
            width: 100%;

            transition: all 0.3s;

            &::placeholder {
                opacity: 0.6;
            }
            &:placeholder-shown ~ .auth__box-lbl {
                transform: translate(0.52rem, -2.2rem);
                opacity: 0;
            }

            &:focus {
                outline: none;
                box-shadow: var(--azn-shadow-style-4);

                &:invalid {
                    border-bottom: var(--azn-border-required-inv-field);
                }
                &:valid {
                    border-bottom: var(--azn-border-required-valid-field);
                }
            }
        }

        &-send-btn {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: .3rem;
        }
    }


    &__logo {
        display: flex;        
        justify-content: center;
        &-img{
            position: relative; 
            top: 1.5rem;
            width: 45%;
        }
    }
}
