.tickets-count-total {

    display: flex;
    justify-content: space-evenly;
    
    border-top: var(--azn-border-1);
    border-bottom: var(--azn-border-1);
    box-shadow: var(--azn-shadow-style-1);
    
    margin-top: 1rem;    
    
    &__vlr{
        font-size: 1.2rem;
        margin-left: .2rem;
        font-weight: bolder;
    }
}
