*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-content {
    --ion-background-color: #fdfdfd;
    --ion-default-font: "Lato", sans-serif;
    --ion-text-color: var(--zn-color-grey-dark-rgb-2);    
}

html {
    font-size: 93%;
        
    @media only screen and (max-width: $bp-small-2) {
        font-size: 87%;        
    }

    @media only screen and (max-width: $bp-small-1) {
        font-size: 75%;
    }
}
