:root {
    --zn-color-font-family: "Lato", sans-serif;

    --zn-color-grey-light-rgb-1: red;

    --zn-color-grey-dark-rgb-1: #ebebeb;
    --zn-color-grey-dark-rgb-2: #646665;
    --zn-color-grey-dark-rgb-3: #e1e2e3;
    --zn-color-grey-dark-rgb-4: #888;
    --zn-color-grey-dark-rgb-5: #e5e5e8;
    --zn-color-grey-dark-rgb-2: #343334;

    --zn-color-light-rgb-1: 240, 240, 240;

    //BORDERS
    --azn-border-1: 1px solid var(--zn-color-grey-dark-rgb-3);
    --azn-border-required-inv-field: 1px solid #b97e7e;
    --azn-border-required-valid-field: 1px solid #4f7e49;

    //SHADOWS
    --azn-shadow-style-1: 1px 2px 5px 0px rgba(179, 189, 180, 1);
    --azn-shadow-style-2: 1px 2px 4px 0px rgba(179, 189, 180, 1);
    --azn-shadow-style-3: 1px 1px 30px 0px rgba(220, 220, 220, .4);
    --azn-shadow-style-4: 6px 6px 20px 1px rgba(220, 220, 220, .5);

    //GRADIENTS:
    --azn-gradient-style-1: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(241, 241, 241, 1) 50%,
        rgba(225, 225, 225, 1) 51%,
        rgba(246, 246, 246, 1) 100%
    );

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
    --azn-gradient-style-2: linear-gradient(
        135deg,
        rgba(216, 224, 222, 1) 0%,
        rgba(174, 191, 188, 1) 22%,
        rgba(153, 175, 171, 1) 33%,
        rgba(142, 166, 162, 1) 50%,
        rgba(130, 157, 152, 1) 67%,
        rgba(78, 92, 90, 1) 82%,
        rgba(14, 14, 14, 1) 100%
    );

    //--azn-gradient-3: linear-gradient(98deg, #5da49b 0%, #6da598 16%, #7ba796 33%, #88a893 50%, #94aa90 66%, #9fab8e 83%, #aaac8b 100%);

    --azn-gradient-3: linear-gradient(98deg, var(--ion-color-secondary) 0%, var(--ion-color-primary) 100%);
}

$bp-small-1: 18.125em; //280 px
$bp-small-2: 21.25em; //340 px
$bp-small-3: 25em; //400 px
$bp-small-3-1-1: 29.4em; //470 px
$bp-small-3-1: 38em; //600 px
$bp-small-3-2: 45em; //720 px
$bp-small-4: 53.125em; //850 px
$bp-small-5: 61.94em; //990 px //ionic - left menu
