.ticket-devol-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    padding: 1rem 0.5rem;    
}

.send-dev {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    
    &-btn {
        font-weight: bolder;
    }
}

.scan-btn {
    color: white;
}