@import "../../../sass/abstracts/variables";

.ticket-count-item {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
        margin-top: 1rem;
    }

    &__frac {
        position: relative;

        flex: 0 0 10%;

        display: flex;
        justify-content: flex-start;

        border: var(--azn-border-1);
        margin-right: 1.1rem;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
        background: rgb(255, 255, 255); /* Old browsers */
        background: var(--azn-gradient-style-1);

        box-shadow: var(--azn-shadow-style-1);

        /*Fracción text*/
        &::after {            
            content: "Fracción";
            position: absolute;
            left: 0;
            top: 37%;
            margin-left: 45%;
            display: inline-block;
            font-size: 0.65rem;
            letter-spacing: 0.16rem;
            font-weight: bold;
            transform: rotate(-90deg);
        }

        &--1 {
            background: url("../../../assets/icon/svg/1.svg") no-repeat center center;
        }
        &--2 {
            background: url("../../../assets/icon/svg/2.svg") no-repeat center center;
        }
        &--3 {
            background: url("../../../assets/icon/svg/3.svg") no-repeat center center;
        }
        &--4 {
            background: url("../../../assets/icon/svg/4.svg") no-repeat center center;
        }
        &--5 {
            background: url("../../../assets/icon/svg/5.svg") no-repeat center center;
        }
        &--6 {
            background: url("../../../assets/icon/svg/6.svg") no-repeat center center;
        }

        &-nro {
            flex: 0 0 80%;
            height: 100%;
            background-size: 75%;
        }
    }

    &__badge {
        position: absolute;
        padding: 0.3rem;
        letter-spacing: 2px;
        top: -1.2rem;
        right: -1.2rem;
        border: var(--azn-border-1);
        font-size: 0.6rem;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        color: white;
        font-weight: bolder;

        display: inline-block;
        min-width: 1.9rem;
        text-align: center;

        background: rgb(216, 224, 222); /* Old browsers */
        background: var(--azn-gradient-style-2);

        box-shadow: var(--azn-shadow-style-1);
    }

    &__data {
        flex: 1;
        padding: 0.2rem 0.4rem 0.6rem 0.4rem;
        box-shadow: var(--azn-shadow-style-1);
    }

    &__lbl {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;        
        margin-bottom: 0.5rem;
        max-width: 22%;
    }

    &__actions {
        display: flex;
        justify-content: flex-start;
    }

    &__btn {
        font-size: 1rem;
        color: white;

        margin-right: 1rem;
    }
    
    
    @media only screen and (max-width: $bp-small-5) {

        &__lbl {
            max-width: 25%;
        }

        &__frac {
            &::after {
                margin-left: 55%;
            }

            &-nro {
                background-size: 58%;
            }
        }
    }

    @media only screen and (max-width: $bp-small-4) {     
        &__lbl {
            max-width: 30%;
        }           
        &__frac {
            &::after {
                margin-left: 47%;
            }

            &-nro {
                background-size: 73%;
            }
        }
    }

    @media only screen and (max-width: $bp-small-3-2) {

        &__lbl {
            max-width: 35%;
        }

        &__frac {            

            &::after {
                margin-left: 38%;
            }

            &-nro {
                background-size: 83%;
            }            
        }
    }

    @media only screen and (max-width: $bp-small-3-1) {
        &__lbl {
            max-width: 50%;
        }

        &__frac {
            flex: 0 0 14%;
            &::after {
                margin-left: 42%;
            }
            &-nro {
                background-size: 75%;
            }
        }
    }

    @media only screen and (max-width: $bp-small-3-1-1) {

        &__lbl {
            max-width: 60%;
        }

        &__frac {

            &::after {
                margin-left: 32%;
            }

            &-nro {
                background-size: 90%;
            }
        }
    }

    @media only screen and (max-width: $bp-small-3) {
        &__lbl {
            max-width: 75%;
        }

        &__frac {

            flex: 0 0 15%;

            &::after {
                margin-left: 30%;                
            }
        }
    }

    @media only screen and (max-width: $bp-small-2) {

        &__lbl {
            max-width: 82%;
        }

        &__frac {

            flex: 0 0 17%;

            &::after {
                margin-left: 33%;
            }

            &-nro {
                background-size: 95%;
            }
        }
    }

    @media only screen and (max-width: $bp-small-1) {
        &__lbl {
            max-width: 90%;
        }

        &__frac {

            flex: 0 0 20%;

            &::after {
                margin-left: 39%;
            }
        }
    }

}
