.ticket-editor {
    padding: 0 0.5rem;
}

.no-tickets {
    display: flex;
    align-items: center;
    padding: .5rem;    
    &-found {
        margin-top: .5rem;
        font-size: 0.9rem;
    }
}
