.msg {
    &__scan_icon-container {
        display: inline-block;
        background-color: var(--ion-color-primary);
        border-radius: 50%;
        height: 2.5rem;
        position: relative;
        top: .5rem;
        padding: .5rem;
        margin: 0 .6rem 0 .3rem;
        box-shadow: var(--azn-shadow-style-1);
    }

    &__scan-icon {
        position: relative;
        font-size: 1.5rem;
    }
}
