.action-indicator {

    &__loading {
        color: var(--azn-font-color-s);
    }

    &__success {
        color: var(--ion-color-success);
    }

    &__error {
        color: var(--ion-color-danger);
    }
}