.footer-info {

    display: flex;
    align-items: flex-end;

    padding: 0rem .5rem 0rem;

    max-width: 90%;

    font-size: .8rem;

    &__img{
        width: 3rem;
        height: 4rem;
        margin-right: .2rem;
    }
}
