.ticket-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--azn-border-1);
    padding-bottom: .3rem;
    width: 97%;

    &:first-child {
        margin-top: -.4rem;
    }

    &:not(:first-child) {
        margin-top: .2rem;
    }

    &__radio {
        position: relative;
        top: .5rem;
        margin-right: .6rem;
        display: flex;
        align-items: center;
        &-circle {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border: var(--azn-border-4);
            border-radius: 50%;
        }
    }

    &__serie {
        flex: 0 0 6rem;
        &-lbl {
            font-size: .8rem;
        }
    }

    &__numero {
        flex: 1;
        margin: .1rem 1rem;
        background-color: #eee;
        max-height: 3rem;
        padding: 0rem .3rem 0rem;
        &-lbl {
            font-size: .78rem;
        }
        &-nro {
            font-size: 1.5rem;
            max-height: 1rem;
        }
    }

    &__fraccion {
        height: 2.3rem;
        flex: 0 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .8rem;

        &-row {
            display: flex;
            justify-content: space-between;

            &__separator {
                border-bottom: var(--azn-border-3);
            }
        }

        &-lbl {
            margin-right: .3rem;
        }

        &-vlr {
            font-weight: bold;
        }
    }
}
