.info-sorteo {
    border: var(--azn-border-1);    
    box-shadow: var(--azn-shadow-style-2);

    margin-bottom: 1.7rem;

    height: 6.2rem;

    font-weight: bolder;

    &__header {
        border-bottom: var(--azn-border-1);
        text-align: center;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
        box-shadow: var(--azn-shadow-style-1);
        margin-bottom: .3rem;

        background: var(--azn-gradient-3);
    }

    &__info-row {        
        display: flex;
        align-items: center;
        padding: 0rem .9rem;
    }

    &__info-lbl {
        flex: 0 0 30%;
    }

    &__info-vlr {
        flex: 1;
    }

    &__no-lectura {
        display: flex;        
        justify-content: center;
        font-size: .83rem;
    }
}
